@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1vw;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Oswald", sans-serif;
}

Nav {
  font-family: "Oswald", sans-serif;
  font-size: 1.25vw;
}
