.container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.4s ease;
  background-color: #ffffff;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 1vw;
  position: absolute;
  text-align: left;
}
